.bg-blue {
    background-color: #0065fc;
}

.text-blue {
    color: #0065fc;
}

.bg-lightblue {
    background-color: #deebff;
}

.text-lightblue {
    color: #deebff;
}

.bg-gray {
    background-color: #f2f2f2;
}

.text-gray {
    color: #f2f2f2;
}
