.bg-blue {
    background-color: var(--main-color);
}

.text-blue {
    color: var(--main-color);
}

.bg-lightblue {
    background-color: var(--main-bg-color);
}

.text-lightblue {
    color: var(--main-bg-color);
}

.bg-gray {
    background-color: var(--main-bg-color);
}

.text-gray {
    color: var(--main-bg-color);
}
